# lib is .gitignore-d, so un-ignore it here for publishing
!lib

# don't publish all the followings
lib/*.map
lib/*.tsbuildinfo
compose
coverage
docs
.nyc_output
.github
test
node_modules
src
.vscode
tsconfig.json
git2version
yarn.lock
.mocharc.js
.eslintrc.js
.eslintignore
.nycrc.json
.prettierrc